@using guestACCESS.Kernel.DMCManagement;
@using NGX.Web.Areas.Jaunt2.Models;
@{
    Layout = null;
    var LogOnDMC = DMC.GetDMCListByParentUrl(Request.Url.Authority).FirstOrDefault() ?? new DMC();
    var dmcId = LogOnDMC.DMCId;
    var cache_city = guestACCESS.DataAccess.CacheRepository.Cache_CityEntity.Instance.GetCache();

    var dmcOption = new DMCOption(LogOnDMC.ParentDMCId > 0 ? LogOnDMC.ParentDMCId.Value : LogOnDMC.DMCId);
    int dmcCountryId = 0;
    var dropdownModel = new DropdownModel();
    IEnumerable<SelectListItem> countryList = dropdownModel.GetEventCountry(dmcOption.DMCId, string.Empty);
    List<SelectListItem> cityList = new List<SelectListItem>();
    if (dmcOption.CityId > 0)
    {
        var city = cache_city.Values.FirstOrDefault(a => a.CityId == dmcOption.CityId);
        var cache_country = guestACCESS.DataAccess.CacheRepository.Cache_CountryEntity.Instance.GetCache();
        dmcCountryId = city.CountryId;
        cityList = dropdownModel.GetEventCityBasedOnCountry(dmcOption.DMCId, dmcCountryId, "", "").ToList();
    }
}
<div id="modal-specialEvent" class="modal diy-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book  Special Event</h4>
                <button type="button" class="btn-close btn-closeHomePickPopUp" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="activity-select">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CatalogCountry" class="mb-2"><span>Destination:</span> Country</label>
                            <select id="CatalogCountry" name="CatalogCountry" style="width: 100%">
                                @if (dmcCountryId > 0 && countryList.Any(x => x.Text == dmcCountryId.ToString()))
                                {
                                    var country = countryList.Where(x => x.Text == dmcCountryId.ToString()).FirstOrDefault();
                                    <option value="@country.Text" selected="selected">@(country.Value)</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CatalogCity" class="mb-2"><span>Destination:</span> City </label>
                            <select id="CatalogCity" name="CatalogCity" style="width: 100%">
                                @if (dmcOption.CityId > 0 && cityList.Any(x => x.Text == dmcOption.CityId.ToString()))
                                {
                                    var defaultCity = cityList.Where(x => x.Text == dmcOption.CityId.ToString()).FirstOrDefault();
                                    <option value="@defaultCity.Text" selected="selected">@(defaultCity.Value)</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mb-2"><span>Event Type:</span></label>
                            <select name="EventTypeCatalog" id="EventTypeCatalog" placeholder="Event Type" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="awe-btn awe-btn-1 awe-btn-small waves-effect text-left btn-SearchHomePickDrop" id="" data-dismiss="modal">Search</button>
                <button class="awe-btn awe-danger awe-btn-small btn-closeSpecailEventPopUp" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>