<div id="modal-map" class="modal " role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">Maps</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="pac-card" id="pac-card">
                        <div id="pac-container">
                            <input id="pac-input" type="text"
                                   placeholder="Enter a location">
                        </div>
                    </div>
                    <div id="dvMap" style="min-height:500px"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnOkLoc" class="btn btn-primary" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="btnCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

