/* @media only screen and (min-width: 767px) {
    #header-utility {
        margin-top: 3rem;
    }
}

.donate-btn {
    background-color: #e10909;
    padding: .5rem;
    margin-left: .8rem;
    -webkit-box-shadow: 7px 7px 3px -1px rgb(255 26 26 / 9%);
    box-shadow: 7px 7px 3px -1px rgb(255 26 26 / 9%);
    color: #fff;
}

    .donate-btn:hover {
        background-color: #005098 !important;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
.stripPrice-box {
    width: 62px;
    border: 1px solid;
    padding: 16px;
    margin: 5px;
    cursor: pointer;
}

.selectPriceBox {
    border: 2px solid #9c27b0;
}

#doantionBoxModal .active {
    background-color: #9c27b0;
    color: white;
}

#doantionBoxModal .customAmountBox {
    width: 170px;
    margin-left: 73px;
} */

@import "/Sass/variable.scss";

$primary-color: #0071bb;
$secondary-color: #dc3545;


#doantionBoxModal .active,
.donate-btn, .selectPriceBox {
  color:  $white-color!important;
}

/** Added on Dec 24 2021 **/
.modal-header {
  border-bottom: 1px dashed #e4dfdf !important;
}

.donate-btn {
  background-color: $secondary-color;
  padding: .85rem;
  margin-left: .8rem;
  box-shadow: 2px 3px 7px 2px #ddddddcc;
  cursor: pointer;

  &:hover {
  background-color: $primary-color!important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
} }

#price {
  margin: 2rem 0;
}

/** Added on Dec 27 2021 **/
.stripPrice-box {
  border: 2px solid $primary-color!important;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 2rem;
  width: auto;
}

/** Added on Dec 24 2021 **/
.modal-title {
  font-size: 4rem !important;
  font-weight: 400 !important;
  color: $primary-color!important;
}

.modal .modal-content {
  border: 1px solid $white-color;
  padding: 1rem !important;
  
  &.close {
  color: $primary-color!important;
  opacity: 1!important;
  font-size: 1.85rem!important;
}
}

#doantionBoxModal .active {
  background-color: $primary-color;
  
  &.customAmountBox {
  font-size: 1.35rem;
  width: 300px;
  padding: 1rem;
  margin-left: 1rem;
}
}
/** Added on Dec 23 2021 **/
input#pay,
button#close-btn {
  width: 100px;
  margin-left: 0 !important;
  font-size: 14.5px;
}

#donate-box > label {
  font-size: 17px;
}

.modal-footer {
  border-top: 1px dashed #e4dfdf !important;
  padding: 1.5rem 0;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

#priceDiv {
  margin: 0;
}

#donate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.selectPriceBox {
  border: none!important;
  background-color: $secondary-color!important;
}

.modal-header{
    padding: 5px 10px!important;
}

.modal-header .close{
    margin-top: -50px!important;
    color: $secondary-color!important;
    opacity: 1!important;
}

#oneTimeAmount, #subscriptionAmountWeekly, #subscriptionPriceMonthlyDiv > div,
#subscriptionAmountYearly, #subscriptionAmountMonthly{
    margin-left: 1rem;
    width: auto;
    padding: 2rem;
}

.modal-footer input, .modal-footer button{
    font-size: 14.5px!important;
}

@media only screen and (min-width: 767px) {
  #header-utility {
    margin-top: 3rem;
  }
  .stripPrice-box {
    padding: 0.5rem !important;
  }
  .stripPrice-box {
    width: 50px!important;
}
}
