@model dynamic
@{
    ViewBag.Title = " Failed to Submit Order";
    Layout = "~/Views/Shared/_LayoutCatalog.cshtml";
}
@section HeadContent {
}

<style>
    span.select2-selection.select2-selection--single, span.select2-selection.select2-selection--single:active {
        border: 0;
        /* border-bottom: 2px dotted; */
        border-radius: 0;
    }

    /* upadted on sept 18 2021 */
        header#header{
            background-color: #000000!important;
        }
        
        .cart-btn{
            color: #fff!important;
        }

        footer{
            padding: 0!important;
        }
        .content{
            min-height: 510px!important;
            margin-top: 19rem!important;
        }
        /* on sept 23 2021 **/
      @@media only screen and (min-width: 767px){
        .cart-btn-contain {
            font-size: 1.5rem;
            margin: 1rem;
            padding: 2.5rem .5rem;
            }
        } 

        #footer-selection{
            margin-top: 5rem;
        }

        .sub-banner{
            display: none;
        }
        .error-page h3,p{
            text-align: center;
        }

        .error-wrap{
            display: flex;
            justify-content: center;
        }
        
</style>

<div class="container">
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline"><i class="fa fa-ban text-red"></i></h2>
            <div class="error-content">
                <h3>Failed to Process Order</h3>
                 <p>
                    @ViewData["Message"]
                </p>
                <div class="error-wrap">
                <ul>
                    <li>Go back to @*<%=Html.ActionLink("my shopping cart", "Index", "ShoppingCart") %> or*@ @Html.ActionLink("check out page", "Index", "Summary")</li>
                    <li>Confirm that the url you entered is correct</li>
                    <li>Access other resources on our website</li>
                    <li>Contact our staff for further assistance</li>
                </ul>
              </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.container -->
