body {
	position: relative !important;
}
/* updated on sept3 2021 */
#wrap #header {
	/* upadate on setp17 2021 */
	background-color: #000000 !important;
	height: auto;
	padding: .5rem 0;
	/* border: 0px solid red; */
}

#wrap footer {
	/* upadate on setp17 2021 */
	background-color: #000000!important;
}

#wrap .sub-banner .bg-parallax {
	display: none !important;
}

.cart-btn {
	color: #fff !important;
}

