@model guestACCESS.Kernel.ReferenceData.ContractClauseTemplate
@{
    Layout = "~/Views/shared/_LandingJaunt2.cshtml";
}

  <style>
        /* added on sept 14 2021 **/
        @@media only screen and (max-width: 800px){
            #terms-content {
                margin-top: 9rem!important;
                } }

        @@media only screen and (max-width: 767px){
             .footer-wrapper .selection{
                margin-top: 0rem;
                }  
        }

        .goog-te-gadget .goog-te-combo,
        .select2-container--default .select2-selection--single {
         height: 35px;
        }

       .select2-container--default .select2-selection--single .select2-selection__rendered{
           padding: .2rem;
           margin: 0 0.4rem;
        }  

        /* updated on sept24 2021 **/
          body{
            background-color: #fff!important;
        }
        #terms-content .container p{
            margin: 0!important;
        }
   </style>

<div class="main" id="terms-content">
    <div class="container">
        @Html.Raw(Model.ClauseContent)
    </div>
</div>


