
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
    outline: none!important;
  }

:hover{
    outline: none!important;
}

a{
    color:#000;
    outline: none!important;

}
a:hover{
    outline: none!important;
}

button{
    border: 0px solid;
    cursor: pointer;
    outline: none!important;
}

img{
    max-width: 100%;
    height: auto;
}


/* Header Navigation Part */

div.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.header-wrapper .header-nav nav ul{
    display: flex;
    border: 1px solid red;
}

.header-wrapper .header-nav ul li a{
    padding: 2rem;
    margin: .5rem;
}

main{
    border: 1px solid red;
    background-color: #fff;
}

div.outer-content{
    border: 1px solid red;
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid red;
}

@media only screen and (max-width: 990px){
    .content-wrapper{
        justify-content: flex-start;
    }
   
    .content-wrapper .inner-content-left,
.content-wrapper .inner-content-right{
    padding: 0rem;
}
    
}
@media only screen and(min-width: 990px){
    .content-wrapper .inner-content-right{
        width: 50%;
        border: 2px solid red;
    }
}


.content-wrapper .inner-content-left,
.content-wrapper .inner-content-right{
    padding: 2rem;
}
@media only screen and(min-width: 0px) and (max-width: 990px){
.content-wrapper .inner-content-right{
    width: 100%;
    border: 1px solid green;
}
}

button.sign-in{
    background-color: #59c45b;
    padding: .5rem 1rem;
    color: #fff;
}

h2{
    font-weight: lighter;
}



@media only screen and (max-width:800px){
    .header-nav{
        display: none;
    }

    .header-bars{
        color: red;
    }

}

@media only screen and (min-width: 800px){
    .header-bars{
        display: none;
    }
}

footer {
    background-color: #111111;
    font-family: 'Open Sans';
    color:#fff;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

.footer-logo figure img{
    margin: 2rem 0;
    height: 100px;
}