.elementor-kit-29{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}

@import url("https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}


button{
    outline: none!important;
}

img{
    max-width: 100%;
    height: 100%;
    width: 100%;
}


p{
    font-family: 'Overpass', sans-serif!important;
}




h3,h2,h4,h5,h6{
    text-align: center;
}

.video-bg{
    background-image: url("http://edanepal.com/assets/img/solution-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5rem;

}

.elementor-section .tech-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    display: flex;
    border: px solid red!important;
    width: 100%;
}

@media only screen and (max-width: 767px){
    .elementor-section .tech-wrapper {
        flex-wrap: wrap;
    }
}

/* .animated-imgs{
    display: flex;
    position: absolute!important;
    top: -50rem;
    border: 1px solid red;
} */

.animated-svg{
    position: absolute;
    top: -30rem;
    left: -10rem;
}

@media only screen and (max-width: 1550px){
    .animated-svg{
        top: -23rem;
        left: -10rem;
    }
}

@media only screen and (max-width: 990px){
     /* .elementor-section .tech-wrapper{
        /* flex-wrap: wrap; 
      
    }  */

    /* .elementor-section .tech-wrapper .tech-items h6{
        text-align: center;
    } */

    .animated-svg{
        display: none;

    }
}

.services-imgs{
    display: flex;
    justify-content: center;
}

.team-details-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-box{
    padding: 0 1rem;
}

.tech-items h6, .about-us-content h6, .slider-wrapper h6{
    color: #003B90;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
}

.slider-wrapper h6{
    text-align: center;
}

.tech-items h1{
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 59px;
}

.tech-items p{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 400;
    color: #737b9a;
}

.about-us-content p{
        font-size: 16px;
        line-height: 1.8;
        color: #737b9a;
        margin-bottom: 15px;
}

@media only screen and (min-width: 990px){
    .about-us-content{
        padding: 10rem 0;
       
}
}

@media only screen and (min-width: 850px) and (max-width: 990px){
    .about-us-content{
        padding: 5rem 0;
       
}
}

.main-content-wrapper h6, .feature-wrapper h6, .slider-wrapper h6, .tools-header h6, .tools-header h6, .teams-header h6{
    font-weight: 700!important;
}
.feature-wrapper h6, .slider-wrapper h6, .teams-header h6, .tools-header h6{
    color: #003B90;
    display: block;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 15px;
}

.feature-wrapper h2, .slider-wrapper h2{
    font-weight: 700;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0
}


.main-header-menu > .menu-item > .menu-link, #astra-footer-menu > .menu-item > .menu-link {
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -js-display: flex;
    display: flex;
}
@media only screen and (max-width: 990px){
    .services-imgs{
        flex-wrap: wrap;
    }
}

.fig img.tech-figs {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 250px!important;
    padding: 1.5rem;
    min-height: 200px!important;
}


#ast-desktop-header{
    position: fixed;
    width: 100%;
}

.main-header-bar {
    background-color: none!important;
    border-bottom-color: none!important; 
    border-bottom-style: none!important;
}


/** Main Bg Image **/
.main-bg-image{
    background-image: url("http://edanepal.com/assets/img/banner-bg1.jpg");
    height: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
    border: px solid red;
    top: 5rem;
}

.main-content-wrapper{
    display: flex;
    justify-content: center;
    border: px solid red;
}


@media only screen and (max-width: 990px){
    .fig img.tech-figs {
        max-width: 250px!important;
        min-height: 300px!important;
}
}

@media only screen and (max-width: 1490px) and (min-width: 990px){
    .fig img.tech-figs {
        max-width: 180px!important;
}
}


@media only screen and (max-width: 767px){
.tech-wrapper{
    margin-top: 10%;
}
.tech-items{
    margin: 3rem 0;
}

.tech-items h1 {
    line-height: 1.3;
    font-size: 30px;
}
/* .main-bg-image {
    background-size: contain;
    height: 80vh;

} */
}

@media only screen and (min-width: 768px) and (max-width: 991px){
.tech-items h1 {
    font-size: 45px;
}
}

.video-bg{
    position: relative;
    background-color: #003B90;
    z-index: 1;
    height: 80vh;
    background-position: center center;
    background-size: cover;
}



.video-bg:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
}

.video-wrapper{
   position: absolute;
   top: 25%;
   left: 0;
   border: px solid red;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}

.video-content{
    max-width: 650px;
}


.owl-nav, .owl-dots{
    display: none;
}

@media only screen and (min-width: 1750px){
    .video-wrapper{
        top: 35%;
    }
}

@media only screen and (max-width: 668px){
.video-bg{
 height: 95vh;
} 

.video-wrapper{
  top: 12%;
  padding: .5rem;
}

.solution-video{
     padding: 4rem 0.5rem 0 0.5rem;
}
}

a{
  text-decoration: none!important;
}

.video-content h5{
    color: #E83217;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    
}
.video-content h2{
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 50px
}


@media only screen and (max-width: 767px){
.video-content h2 {
    font-size: 28px;
}
.video-content h5{
    font-size: 13px;
}
}

.video-content p{
    color: #e8e3e3;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    font-weight: 600;
}

@media only screen and (max-width: 668px){
    .video-content p{
        font-size: 14px;
    }
}

.video-content button a{
    color: #fff;
    text-decoration: none;
}

.solution-video .play-icon i::before {
    font-size: 38px;
  }
  
  .solution-video .play-icon::after, .solution-video .play-icon::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }


  .solution-video .play-icon::before {
    -webkit-animation: ripple 2s linear infinite;
            animation: ripple 2s linear infinite;
  }
  
  .solution-video .play-icon::after {
    -webkit-animation: ripple 2s linear 1s infinite;
            animation: ripple 2s linear 1s infinite;
  }



  @-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    75% {
      -webkit-transform: scale(1.75);
              transform: scale(1.75);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    75% {
      -webkit-transform: scale(1.75);
              transform: scale(1.75);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0;
    }
  }
  
.video-content h2, .video-content h5{
  left: 0;
  text-align: justify!important;
}
.solution-video i.fa{
  font-size: 3rem;
}

.play-icon{
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  color: #003B90;
  position: relative;
  z-index: 1;
}


.tech-wrapper{
    max-width: 1140px;
    top: 50%!important;
   
 }
 .main-bg-image{
  height: 100vh;
 }

 @media only screen and (max-width: 920px) and (min-width: 568px){
    .main-bg-image{
        height: 95vh;
       }
   
 }
 
 @media only screen and (max-width: 568px){
 /* .main-bg-image{
  height: 95vh!important;
 } */

 .video-content{
     width: 100%;
 }

 .video-content h2, .video-content h5{
    left: 0;
    text-align: center!important;
  }

  .video-content button{
      display: block;
      margin: 0 auto;
  }

  .about-us-fig{
      margin: 0rem 0 0 0;
      border: px solid red;
  }
 }

 .services-imgs button{
    background-color: #ffffff;
    margin: 0.5rem 0 0.5rem 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    width: 100%;
    padding: 1.35rem 0;
    transition: 0.5s;
}

.services-imgs button:hover{
    background-color: #003B90;
    color: #ffff;
}

.services-imgs .fig{
    /* margin: 0 0.8rem; */
    box-shadow: 5px 5px 15px #f7f2f2;
}

.services-imgs #fig1{
    z-index: 10!important;
}

.services-imgs #fig1 button{
    color: #fff!important;
    background-color: #003B90!important;
}

.team-box figure{
    position: relative;
    z-index: -1!important;
}

.team-box article{
    /* background-color: #003B90; */
    background-color: #fff;
    transition: all 0.65s;
    /* position: absolute;
    width: 320px;
    top:0;
    left: 0;
    bottom: 0; */
    z-index: 1!important;
}

.team-box .content article:hover {
    margin-top: -2rem;
    background-color: #003B90;
}

.team-box .content article h3:hover,
.team-box .content article h6:hover{
    color: #ffff!important;
}

.team-box figure, .team-box article{
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%)
}

.team-box article h6, .team-box article h3{
    margin-bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 24px;
    font-weight: 700;
 }

 .team-box article h6{
    display: block;
    margin-top: 8px;
    color: #003B90;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.2rem;
 }


 .team-box{
     transform: scale(0.97);
     transition: all 0.5s;
 }

 .team-box:hover{
     transform: scale(1);
     
 }

 .team-box .content:hover{
    color: #fff!important;
 }



 .tech-items button{
    margin: 1rem 0;
 } 

 .tech-items button ,.video-content button{
    border-radius: 5px;
    outline: none!important;
    border: none!important;
    font-weight: 600;
    font-size: 14px;
 }
 .services-box{
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 40px 30px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
  }
 

  .services-box:hover{
    -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }


.services-box .icon{
    display: flex;
    border: px solid red;
    font-size: 35px;
}
.services-box .icon{
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 75px;
        background-color: rgba(250, 112, 112, 0.1);
        border-radius: 50%;
        color: #E83217;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-size: 35px;
        margin-bottom: 25px;
    
}
.services-box .icon :hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.services-box :before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #003B90;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


/* Digital Marketing */
.services-box i.flaticon-digital-marketing{
    background-color: rgba(250, 112, 112, 0.1);
    color: #E83217;
    border-radius: 50%;
    padding: 0.5rem 1.5rem; 
}

/* Analytics */
.services-box i.flaticon-analytics{
    background-color: rgba(247, 138, 203, 0.2);
    color: #f78acb;
    border-radius: 50%;
    padding: 0.5rem 1.5rem; 
}

/*Mail **/
.services-box i.flaticon-mail{
    color: #c679e3;
    background: rgba(198, 121, 227, 0.2);
    border-radius: 50%;
    padding: 0.5rem 1.5rem;
}


/** UX/UI Design **/
.services-box i.flaticon-research{
    background: rgba(0, 174, 255, 0.2);
    color: #00aeff;
    border-radius: 50%;
    padding: 0.5rem 1.5rem;
}

/* SEO CONSULTANCY */
.services-box i.flaticon-analysis{
    background: rgba(68, 206, 111, 0.2);
    color: #44ce6f;
    border-radius: 50%;
    padding: 0.5rem 1.5rem;
}

/* SOCIAL MEDIA MARKETING **/
.services-box i.flaticon-seo{
    background-color: rgba(235, 107, 61, 0.2);
    color: #eb6b3d;
    border-radius: 50%;
    padding: 0.5rem 1.5rem;
}

.services-box h2{
    font-size: 24px;
    font-weight: 700;
}


.services-box{
    padding: 1rem 1.5rem;
    border: px solid red;
    background-color: #ffffff;
    min-height: 200px;
}

.services-box h2{
    text-align: justify;
    padding: 1.5rem 0 0 0;
}

.services-box-wrapper{
    padding: 0 0.5rem;
}

.single-services-box h3 a{
    color: #000!important;
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
  }
  
  .single-services-box {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 40px 30px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
  }
  
  .single-services-box .icon {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    background-color: rgba(250, 112, 112, 0.1);
    border-radius: 50%;
    color: #E83217;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  .single-services-box .icon.bg-f78acb {
    background-color: rgba(247, 138, 203, 0.2);
    color: #f78acb;
  }
  
  .single-services-box .icon.bg-cdf1d8 {
    background: rgba(68, 206, 111, 0.2);
    color: #44ce6f;
  }
  
  .single-services-box .icon.bg-c679e3 {
    color: #c679e3;
    background: rgba(198, 121, 227, 0.2);
  }
  
  .single-services-box .icon.bg-eb6b3d {
    color: #eb6b3d;
    background: rgba(235, 107, 61, 0.2);
  }
  
  .single-services-box .icon.bg-00aeff {
    background: rgba(0, 174, 255, 0.2);
    color: #00aeff;
  }
  
  .single-services-box h3 {
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: justify!important;   
  }
  .single-services-box h3{
      color: #000!important;
  }

  .single-services-box h3:hover{
      color: #ffff!important;
  }

  .single-services-box h3 a {
    display: inline-block;
    text-align: justify!important;
    color: #000!important;
  }

  .single-services-box h3 a:hover{
      color: #fff!important;
  }
  
  .single-services-box p {
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 13px;
    margin-bottom: 0;
  }
  
  .single-services-box .read-more-btn {
    color: #003B90;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .6s;
    transition: .6s;
    font-size: 16px;
    font-weight: 400;
  }
  
  .single-services-box .read-more-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 1px;
    background: #003B90;
  }
  
  .single-services-box .read-more-btn i {
    font-size: 14px;
  }
  
  .single-services-box .read-more-btn:hover::before {
    width: 100%;
  }
  
  .single-services-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #003B90;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-services-box:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  
  .single-services-box:hover::before {
    width: 100%;
  }
  
  .single-services-box:hover h3 {
    color: #ffffff;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  
  .single-services-box:hover h3 a {
    color: #ffffff;
  }
  
  .single-services-box:hover p {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: #ffffff;
  }
  
  .single-services-box:hover .icon {
    -webkit-transform: translateY(-15px) rotate(360deg);
            transform: translateY(-15px) rotate(360deg);
    background-color: #ffffff;
    color: #003B90;
  }
  
  .single-services-box:hover .read-more-btn {
    opacity: 1;
    visibility: visible;
    color: #ffffff;
    bottom: 15px;
  }
  
  .single-services-box:hover .read-more-btn::before {
    background-color: #ffffff;
  }

  

/** Team Box Details ***/

.team-box article{
    padding: 1rem;
}

@media only screen and (max-width: 667px){
    .services-box h2{
       font-size: 20px;
    }
    
    .team-box h6, .team-box article h3{
       font-size: 20px
    }
    .feature-wrapper h2{
        font-size: 24px;
    }
    .slider-wrapper h2{
        font-size: 26px;
    }
}


.test{
    visibility: visible!important;
}

#myP{
  position: fixed;
  visibility: hidden;
  padding: 0rem 0.7rem;
  z-index: 999;
  text-align: right;
  right: 0;
  background-color: #003B90;
  top: 95%;
  font-size: 1.65rem;
  animation: scrollme 2s ease-in-out;
  
  }

  #myP span i{
      color: #fff;
  }


  

  @keyframes scrollme {
      0%{
          top: 0!important;
      }

      10%{
        top: 5%;
        opacity: 0.15!important;
      }

      20%{
        top: 15%;
        opacity: 0.25!important;

      }

      30%{
        top: 20%;
        opacity: 0.35!important;

      }

      40%{
        top: 45%;
        opacity: 0.4!important;

      }

      50%{
        top: 55%;
        opacity: 0.5!important;

      }

      60%{
        top: 65%;
        opacity: 0.65!important;

      }

      70%{
        top: 85%;
        opacity: 0.7!important;

      }

      80%{
        top: 95%;
        opacity: 0.85!important;

      }
    
    100%{
        top: 95%;
        opacity: 1!important; 
    }
  }


  .up{
    visibility: visible!important;
    animation: scrollmeUp 1s ease-in-out!important;
  }

  @keyframes scrollmeUp {
    0%{
        top: 0!important;
    }

    10%{
      top: -95%!important;
      opacity: 1!important;
    }

    20%{
      top: -85%!important;
      opacity: 0.85!important;

    }

    30%{
      top: -75%!important;
      opacity: 0.75!important;

    }

    40%{
      top: -65%!important;
      opacity: 0.5!important;

    }

    50%{
      top: -55%!important;
      opacity: 0.4!important;

    }

    60%{
      top: -45%!important;
      opacity: 0.35!important;

    }

    70%{
      top: 35%!important;
      opacity: 0.25!important;

    }

    80%{
      top: -25%!important;
      opacity: 0.15!important;

    }
  
  100%{
      top: -15%!important;
      opacity: 0!important; 
  }
}

   /* #myP{
    opacity: 0;
    -webkit-transition: .9s;
    transition: .9s;
  }
  
   #myP.active {
    top: 98%;
    -webkit-transform: translateY(-98%);
            transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
  }
  
  #myP:hover, #myP:focus {
    color: #ffffff;
    background-color: #E83217;
  }  */


  
/*================================================
Preloader Area CSS
=================================================*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: transparent;
    top: 0;
    left: 0;
  }
  
  .preloader .loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-43%);
            transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .preloader .loader .box {
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-animation: animate .5s linear infinite;
            animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  
  .preloader .loader .shadow {
    width: 100%;
    height: 5px;
    background: #000000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    -webkit-animation: shadow .5s linear infinite;
            animation: shadow .5s linear infinite;
  }
  
  .preloader::before, .preloader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: -1;
    background: #003B90;
    -webkit-transition: .9s;
    transition: .9s;
  }
  
  .preloader::after {
    left: auto;
    right: 0;
  }
  
  .preloader.preloader-deactivate {
    visibility: hidden;
  }
  
  .preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
    width: 0;
  }
  
  .preloader.preloader-deactivate .loader {
    opacity: 0;
    visibility: hidden;
  }
  
  @-webkit-keyframes loader {
    0% {
      left: -100px;
    }
    100% {
      left: 110%;
    }
  }
  
  @keyframes loader {
    0% {
      left: -100px;
    }
    100% {
      left: 110%;
    }
  }
  
  @-webkit-keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      -webkit-transform: translateY(9px) rotate(22.5deg);
              transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
              transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      -webkit-transform: translateY(9px) rotate(67.5deg);
              transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(90deg);
              transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      -webkit-transform: translateY(9px) rotate(22.5deg);
              transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
              transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      -webkit-transform: translateY(9px) rotate(67.5deg);
              transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(90deg);
              transform: translateY(0) rotate(90deg);
    }
  }
  
  @-webkit-keyframes shadow {
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
    }
  }
  
  @keyframes shadow {
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
    }
  }


  /*================================================
Go Top CSS
=================================================*/
.go-top {
    position: fixed;
    cursor: pointer;
    top: 50%;
    right: 15px;
    background-color: #003B90;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 45px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
    color: #ffffff;
    border-radius: 2px;
    font-size: 20px;
  }
  
  .go-top.active {
    top: 98%;
    -webkit-transform: translateY(-98%);
            transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
  }
  
  .go-top:hover, .go-top:focus {
    color: #ffffff;
    background-color: #E83217;
  } 
 

/*================================================
Projects Area CSS
=================================================*/
.projects-area {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
  }
  
  .single-projects-box {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .single-projects-box .projects-content {
    position: absolute;
    left: 0;
    bottom: 15px;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 25px 20px 20px;
    -webkit-transition: opacity .3s,-webkit-transform .3s ease;
    transition: opacity .3s,-webkit-transform .3s ease;
    transition: transform .3s ease,opacity .3s;
    transition: transform .3s ease,opacity .3s,-webkit-transform .3s ease;
    max-width: 370px;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  
  .single-projects-box .projects-content h3 {
    margin-bottom: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transition: opacity .3s,-webkit-transform .3s ease;
    transition: opacity .3s,-webkit-transform .3s ease;
    transition: transform .3s ease,opacity .3s;
    transition: transform .3s ease,opacity .3s,-webkit-transform .3s ease;
    opacity: 0;
    font-size: 24px;
    font-weight: 700;
  }
  
  .single-projects-box .projects-content .category {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    color: #737b9a;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  }
  
  .single-projects-box .plus-icon a {
    background-color: #003B90;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 25px;
    right: 25px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .single-projects-box .plus-icon a span {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .single-projects-box .plus-icon a span::after, .single-projects-box .plus-icon a span::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .single-projects-box .plus-icon a span::after {
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .single-projects-box .plus-icon a:hover {
    background-color: #E83217;
  }
  
  .single-projects-box:hover .projects-content {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .single-projects-box:hover .projects-content h3 {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .5s .3s,-webkit-transform .5s ease .5s;
    transition: opacity .5s .3s,-webkit-transform .5s ease .5s;
    transition: transform .5s ease .5s,opacity .5s .3s;
    transition: transform .5s ease .5s,opacity .5s .3s,-webkit-transform .5s ease .5s;
  }
  
  .single-projects-box:hover .projects-content .category {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .5s .6s,-webkit-transform .5s ease .6s;
    transition: opacity .5s .6s,-webkit-transform .5s ease .6s;
    transition: transform .5s ease .6s,opacity .5s .6s;
    transition: transform .5s ease .6s,opacity .5s .6s,-webkit-transform .5s ease .6s;
  }
  
  .single-projects-box:hover .plus-icon a {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .projects-slides.owl-theme .owl-nav.disabled + .owl-dots {
    line-height: .01;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .projects-slides.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    margin: 0 5px;
    background: #D6D6D6;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
  }
  
  .projects-slides.owl-theme .owl-dots .owl-dot:hover span, .projects-slides.owl-theme .owl-dots .owl-dot.active span {
    background-color: #003B90;
  }


  
img{
    max-width: 100%;
  }
  
  .main-content-wrapper{
    display: flex;
    justify-content: center;
    border: px solid red;
    padding-top: 15rem;
     
  }
  
  .inner-content-wrapper{
    max-width: 450px;
    border: px solid red;
  }

  .inner-content-wrapper h1{
    text-align: left!important;
  }
  
  .inner-fig {
    display: flex;
    align-items: center;
  }


  .inner-fig #img1{
      border: px solid green;
      width: 150px;
  }

  .inner-fig .img2{
      max-width: 350px!important;
      border: px solid red;
  }

  .inner-fig #img3{
    width: 180px;
    border: px solid blue!important;
}

@media only screen and (max-width: 1120px){
    .inner-fig #img3{
        border: px solid blue!important;
    }
}
@media only screen and (max-width: 768px){
  .main-content-wrapper{
  justify-content: center;
  flex-wrap: wrap; 
}

.inner-fig{
    padding: 5rem 0;
}

  .inner-fig img{
    width: 100px;
    border: px solid rgb(51, 255, 0);
  }
  .inner-fig .img2{
  width: 250px;
  border: px solid blue;
  }
  
  .main-content-wrapper{
  padding: 2rem 0;
  }
}


.shape-img2{
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@media only screen and (max-width: 1268px){
    .shape-img1, .shape-img2, .shape-img2-1, .shape-img2-2,
    .shape-img3, .shape-img3-1, .shape-img3-2, .shape-img4,
    .shape-img4-1, .shape-img4-4, .shape-img6, .shape-img7,
    .shape-img7-1, .shape-img8, .shape-img9{
        display: none;
    }
}
@media only screen and (max-width: 1140px) and (min-width: 768px){
    .inner-fig #img1, .inner-fig #img3{
        width: 100px;
    }

    .inner-fig .img2{
        max-width: 220px!important;
    }
}

@media only screen and (min-width: 1860px){
    .inner-fig #img1, .inner-fig .img2, .inner-fig #img3{
        width: auto;
    }

}

@media only screen and (max-width: 576px){
    .inner-fig #img1, .inner-fig #img3{
        width: 80px!important;
    }
    .inner-fig .img2{
        max-width: 180px!important;
    }

}



  .inner-content-wrapper h6{
    color: #003B90;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: justify!important;
  }

  .inner-content-wrapper h1{
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 59px;
  }

  .inner-content-wrapper p{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.8;
    color: #737b9a;
    margin-bottom: 15px;
  }

  .inner-content-wrapper button{
      background-color: #003B90!important;
      padding: 1.35rem 2rem;
      border-radius: 5px;
  }

  .inner-content-wrapper button a{
    color: #fff!important;
    font-weight: 600;
  }


  /** Animations Starts **/
  .shape-img1{
      position: absolute;
      left: 0;
      top: 75%;
  }


  /* Green Triangle **/
  .shape-img2{
    position: absolute;
    top: 15%;
    z-index: 1;
    left: 5%;
  }

  /* Green Triangle **/
  .shape-img2-1{
    position: absolute;
    top: 5%;
    z-index: 1;
    left: -15%;
    width: 180px;
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  .shape-img2-2{
      width: 25px;
      top: 15%;
      left: -45%;
      position: absolute;
      -webkit-animation-name: rotateMe;
      animation-name: rotateMe;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
  }


  /* serach icon */
  .shape-img9{
      width: 30px;
      top: 15%;
      position: absolute;
      z-index: 2;
      left: 35%;
  }

   /* Facebook Like Icon */
   .shape-img8{
    position: absolute;
    top: 15%;
    width: 70px;
    z-index: 3;
    left: 60%; 
   }

  /* Round Purple Icon **/
  .shape-img4{
    position: absolute;
    top: -10%;
    z-index: 4;
    width: 180px;
    left: 85%;
   }

   .shape-img4-4{
    position: absolute;
    right: 8%;
    top: 8%;
    z-index: -1;
    -webkit-animation: animationFramesTwo 20s infinite linear;
    animation: animationFramesTwo 20s infinite linear;
   }


   .shape-img4-1{
       position: absolute;
       top: 80%;
       left: 100%;
       width: 20px;
      
       -webkit-animation: animationFramesTwo 20s infinite linear;
    animation: animationFramesTwo 20s infinite linear;
   }


   /** Cross Green Image **/
   .shape-img3{
    position: absolute;
    top: 75%;
    left: 98%;
    width: 150px;
    z-index: -1;
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
   }

     /** Cross Green Image **/
     .shape-img3-1{
        width: 25px;
        position: absolute;
        z-index: 0;
        left: 5%;
        top: 85%;
        left: 90%;
        -webkit-animation-name: rotateMe;
        animation-name: rotateMe;
        -webkit-animation-duration: 15s;
        animation-duration: 15s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
       }
    
       .shape-img3-2{
           width: 20px;
           position: absolute;
           left: 140%;
           top: 95%;
           -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
       }


   /** Orange Ball **/
   .shape-img6{
    width: 150px;
    left: 50%;
    position: absolute;
    top: 80%;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
   }

   /* Transparent Leaf */
   .shape-img7{
    width: 100px;
    position: absolute;
    top: 34%;
    left: 15%;
    opacity: 0.7;
    -webkit-animation: moveBounce 5s linear infinite;
    animation: moveBounce 5s linear infinite;
   }

    /* Transparent Leaf on Development Tools */
   .shape-img7-1{
   position: absolute;
   left: -5%;
   top: 50%;
   width: 180px;
   -webkit-animation: moveBounce 5s linear infinite;
   animation: moveBounce 5s linear infinite;
   }

   .shape-img10{
       width: 100px;
       position: absolute;
       top: 10%;
       visibility: hidden;
   }

   @media only screen and (max-width: 667px){
       .shape-img1, .shape-img2, .shape-img2-1, .shape-img2-2,
       .shape-img3, .shape-img3-1, .shape-img3-2, .shape-img4,
       .shape-img4-1, .shape-img4-4, .shape-img6, .shape-img7,
       .shape-img7-1, .shape-img8, .shape-img9{
           display: none;
       }
   }

   .shape-img5 {
       width: 25px;
       position: absolute;
       top: 80%;
       left: 2%;
       -webkit-animation: animationFramesTwo 20s infinite linear;
       animation: animationFramesTwo 20s infinite linear;
   }
  /* .shape-img1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .shape-img2 {
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: -1;
    -webkit-animation-name: rotateMe;
            animation-name: rotateMe;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  
  .shape-img3 {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: -1;
    -webkit-animation-name: rotateMe;
            animation-name: rotateMe;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  
  .shape-img4 {
    position: absolute;
    right: 8%;
    top: 8%;
    z-index: -1;
    -webkit-animation: animationFramesTwo 20s infinite linear;
            animation: animationFramesTwo 20s infinite linear;
  }
  
  .shape-img5 {
    position: absolute;
    left: 2%;
    bottom: 25%;
    z-index: -1;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
  }
  
  .shape-img6 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
    bottom: 0;
    -webkit-animation: rotate3d 4s linear infinite;
            animation: rotate3d 4s linear infinite;
  }
  
  .shape-img6 img {
    opacity: .20;
  }
  
  .shape-img7 {
    position: absolute;
    left: 10%;
    top: 35%;
    z-index: -1;
    -webkit-animation: moveBounce 5s linear infinite;
            animation: moveBounce 5s linear infinite;
  }
  
  .shape-img7 img {
    opacity: .30;
  }
  
  .shape-img8 {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    -webkit-animation: moveLeftBounce 5s linear infinite;
            animation: moveLeftBounce 5s linear infinite;
  }
  
  .shape-img8 img {
    opacity: .40;
  }
  
  .shape-img9 {
    position: absolute;
    left: 20%;
    top: 15%;
    z-index: -1;
    -webkit-animation: moveScale 3s linear infinite;
            animation: moveScale 3s linear infinite;
  }
  
  .shape-img9 img {
    opacity: .40;
  }
  
  .shape-img10 {
    position: absolute;
    left: 75%;
    z-index: -1;
    top: 40%;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
  }
  */

  .shape-img4{
    -webkit-animation: animationFramesTwo 20s infinite linear;
    animation: animationFramesTwo 20s infinite linear;
  }

  .shape-img8{
    -webkit-animation: moveLeftBounce 5s linear infinite;
    animation: moveLeftBounce 5s linear infinite;
  }

  .shape-img9{
    -webkit-animation: moveScale 3s linear infinite;
    animation: moveScale 3s linear infinite;
  }
  @-webkit-keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(-73px, 1px) rotate(-36deg);
              transform: translate(-73px, 1px) rotate(-36deg);
    }
    40% {
      -webkit-transform: translate(-141px, -72px) rotate(-72deg);
              transform: translate(-141px, -72px) rotate(-72deg);
    }
    60% {
      -webkit-transform: translate(-83px, -122px) rotate(-108deg);
              transform: translate(-83px, -122px) rotate(-108deg);
    }
    80% {
      -webkit-transform: translate(40px, -72px) rotate(-144deg);
              transform: translate(40px, -72px) rotate(-144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(-73px, 1px) rotate(-36deg);
              transform: translate(-73px, 1px) rotate(-36deg);
    }
    40% {
      -webkit-transform: translate(-141px, -72px) rotate(-72deg);
              transform: translate(-141px, -72px) rotate(-72deg);
    }
    60% {
      -webkit-transform: translate(-83px, -122px) rotate(-108deg);
              transform: translate(-83px, -122px) rotate(-108deg);
    }
    80% {
      -webkit-transform: translate(40px, -72px) rotate(-144deg);
              transform: translate(40px, -72px) rotate(-144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @-webkit-keyframes moveScale {
    0% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
    }
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
    }
  }
  
  @keyframes moveScale {
    0% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
    }
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
    }
  }
  
  @-webkit-keyframes moveLeftBounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @keyframes moveLeftBounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @-webkit-keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  } 

@media only screen and (min-width: 767px){
.owl-dots{
    display: none!important;
} }



@media only screen and (max-width: 767px){
    .inner-content-wrapper{
        text-align: center!important;
    }
    .inner-content-wrapper h6{
        margin-bottom: 10px;
        font-size: 13px;
        text-align: center!important;
    }
    .inner-content-wrapper h1{
        line-height: 1.3;
        font-size: 30px;
        text-align: center!important;
    }

    .inner-content-wrapper p{
        font-size: 15px;
        margin-top: 10px;
    }
    .inner-content-wrapper button{
        background-color: #003B90;
        border-radius: 5px;
    }

    .about-us-content{
        text-align: center!important;
    }

    .about-us-content h6, .feature-wrapper h6{
        margin-bottom: 7px;
        font-size: 13px;
        text-align: center!important;
    }
    .about-us-content p{
        font-size: 12px;
    }

    .feature-wrapper h2{
        font-size: 24px;
    }

    .single-services-box h3 {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
        font-size: 14px!important;
        font-weight: 650;
        
    }

    .single-services-box a{
        text-decoration: none;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: 0 !important;
        color: #212529!important;
        font-size: 20px;
       }

       .slider-wrapper h2{
        font-size: 20px;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
       }

       .teams-header h2{
           font-size: 40px!important;
           font-weight: bolder!important;
       }

       .nav1 a, .nav2 a{
           font-size: 14px!important;
       }

       .footer-wrapper{
           padding: 0.75rem;
       }

       .footer-nav .icon span i, .footer-nav .links{
           font-size: 25px!important;
       }

       .footer-nav .links span a{
            margin: 0!important;
            padding: 0!important;
            font-size: 15px!important;
       }

       .single-services-box:hover h3 a:hover{
           color: #fff!important;
       }

       .feature-wrapper, .slider-wrapper, .tools-header, .teams-header{
           padding: 2rem 0!important;
       }

       .inner-content-wrapper p, .about-us-content p {
           font-size: 14px!important;
       }

       .footer-nav .links span{
           padding: 0!important;
       }
 
}

.teams-header{
    padding: 5rem 0 1rem 0;
}

.tools-header{
    padding: 5rem 0 0.5rem 0;
}

.slider-wrapper{
    padding: 5rem 0 0 0;
}

.slider-wrapper h2{
    padding: 0rem 0 0.5rem 0;
}

.feature-wrapper {
    padding: 6rem 0;
}


.inner-content-wrapper p,
.about-us-content p{
    font-size: 18px;
    line-height: 1.8;
    color: #737b9a;
    margin-bottom: 15px;
    font-family: 'Overpass', sans-serif!important;
}


#ast-hf-menu-1 li a{
    font-family: 'Overpass', sans-serif!important;
    font-size: 16px!important;
    /* font-weight: 550; */
}

@media only screen and (min-width: 1450px){
    #ast-hf-menu-1 li a{
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1450px){
    .shape-img1{
    position: absolute;
    left: 0;
    top: 80%
    }
}

@media only screen and (min-width: 1820px){
    .shape-img1{
        position: absolute;
        left: 0;
        top: 70%;
    }

}


.contact-bg-image h1{
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Overpass', sans-serif;
    
}
.border-bot{
  border-bottom: 2px solid red;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.contact-bg-image{
 background-image: url("http://edanepal.com/assets/img/banner-bg1.jpg");
height: 90vh;
background-position: right top;
background-repeat: no-repeat;
position: relative;
}
.contact-heading{
  position: absolute;
 top: 55%;
 left: 50%;
 transform:  translate(-50%, -55%);
}

.contact-heading nav{
   display: flex;
   cursor: pointer;
}
.contact-heading li{
list-style: none;
font-size: 18px;
}
.contact-heading nav li:first-child{
opacity: 0.6;
}
.contact-heading nav li:hover:first-child{
   transition: 0.3s;
  color: red;
}
.contact-heading nav li:not(:first-child){
  color: #003B90;
 
}

.contact-heading nav li:not(:last-child){
padding: 0 0.3rem;
opacity: 0.8;
}

.contact-heading nav{
        padding: 1rem 0;
}

.location-box{
    text-align: center;

 }
 .location-box #mail,
 .location-box #phone,
 .location-box #marker{
    cursor: pointer;
 }

 .location-box span a{
      font-size: 14px;
      line-height: 1.8;
      color: #737b9a;
      font-weight: 550;
      letter-spacing: 1px;
      
 }
 
 .location-box{
      background-color: #fff;
     border-radius: 5px;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     -webkit-box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
     box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
     background: #ffffff;
     padding: 3rem;
 }
 
 .location-box:hover{
    -webkit-transform: translateY(-10px);
     transform: translateY(-10px);
 }
 
 #mail,
 #phone,
 #marker{
     color: #fff;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     background-color: #f3f3f3;
     color: #003B90;
     padding: 1.1rem 1.2rem;
     font-size: 1.5rem;
     transition: 0.5s;
 }
 
 #phone:hover,
 #mail:hover,
 #marker:hover{
     background-color: #003B90;
     color: #fff;
 }
 
 .location-box h2{
      padding: 1rem 0 0 0;
 }
 

 .elementor-widget-container .contact-bg-image h1{
    font-weight: 600!important;
    margin-bottom: 0.5rem!important;
    
}
.elementor-widget-container .border-bot{
  border-bottom: 2px solid red!important;
  width: 30%!important;
  display: block!important;
  margin: 0 auto!important;
}

.elementor-widget-container .contact-bg-image{
 background-image: url("http://edanepal.com/assets/img/banner-bg1.jpg")!important;
height: 70vh!important;
background-position: right top!important;
background-repeat: no-repeat!important;
position: relative!important;
}




.shape-img7-7{
    position: absolute;
    left: 65%;
    width: 100px;
    top: 45%;
    -webkit-animation: moveBounce 5s linear infinite;
    animation: moveBounce 5s linear infinite;
}

 
 .contact-wrapper h6{
    font-weight: bold;
    padding: 0;
    margin: 0 0;
}

.contact-wrapper h2{
   font-weight: 700;
   font-size: 37px;
   font-family: 'OverPass', sans-serif;
}

